@*all the explicit reference will be added on top of view*@

<link href="~/Content/CustomCss/SearchEngine.css" rel="stylesheet" />
<script src="~/Scripts/CustomJs/SearchEngine.js"></script>

@*View code will be written which will render in form of UI*@

<div>
    
</div>